.container
  .row
    .col-2
    .col-8.content.mt-2.bg-light.rounded
      .row
        .col
          %h1.text-center.border-bottom Editing task

      = render 'form'
      .row
        .col-sm.mb-1
          = link_to 'Back', tasks_path, class: 'btn btn-outline-secondary'
    .col-2

